{% extends "main.html" %}



{% block content %}


    <form method="POST" action="">
        {% csrf_token %}
        
        <label for="username">Username</label>
        <input type="text" name="username" id="username" value="{{ form.username.value }}">
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" value="{{ form.password.value }}">
        <br>

        <input type="submit" value="Login">


    </form>


{% endblock %}